<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
        <th:block th:each="job : ${jobs}">
            <tr>
                <td>
                    <b><th:block th:text="'ID: ' + ${job.getId()}"></th:block></b><br/>
                    <b><th:block th:text="'Name: ' + ${job.getName()}"></th:block></b><br/>
                    <b><th:block th:text="'Employer: ' + ${job.getEmployer()}"></th:block></b><br/>
                    <b><th:block th:text="'Location: ' + ${job.getLocation()}"></th:block></b><br/>
                    <b><th:block th:text="'Position Type: ' + ${job.getPositionType()}"></th:block></b><br/>
                    <b><th:block th:text="'Competency: ' + ${job.getCoreCompetency()}"></th:block></b><br/>
                </td>
            </tr>
        </th:block>
    </table>

</div>

</body>
</html>